body {
font-family:'Times New Roman', Times, serif;
background-color: rgba(8, 29, 214, 0.322);
color:rgb(255, 0, 0);
}
header {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
nav {
    display: flex;
    justify-content: flex-end;
}
body.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}
body.dark-mode .card {
  background-color: #34495e;
  border-color: #555;
}